.container {
  max-width: 80vw;
  min-height: 90vh;
  margin: auto;
  background-color: dodgerblue;
  border-radius: 1vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS';
}

body {
  background-color: #f7f7f7;
}

h1 {
  font-weight: 900;
  margin-bottom: 12px;
}

div {
  background-color: #fff;
  margin: 12px;
  padding: 24px;
  text-align: center;
  box-shadow: 2px 2px 8px 2px #aaa;
}

nav li {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: .5rem;
  display: inline;
  width: min-content;
  margin: 5px auto;
  padding: 15px;
  line-height: 45px;
}

nav li a {
  color: #fff;
  border: 0px solid rgb(188, 65, 225);
  padding: .75rem 5rem 0.75rem 5rem;
  border-radius: .5rem;
  text-transform: uppercase;
}


nav li>a:hover,
nav li>a:active {
  background-color: rgb(188, 65, 225);
  color: white;
}

header {
  font-size: 50px;
}

nav {
  display: flex;
  flex-wrap: wrap;
}